:root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: rgb(66, 130, 189);
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(66, 130, 189);
  color: white;
  font-family: 'inter', Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.258);
  margin: 0 0 5em 0;
  padding: 1em 2em;
  align-items: center;
  -webkit-box-shadow: 0px -29px 10px 28px rgba(0, 0, 0, 0.124);
-moz-box-shadow: 0px -29px 10px 28px rgba(0,0,0,0.2);
box-shadow: 0px -29px 10px 28px rgba(0,0,0,0.2);
}

.headerTitle {
  font-weight: bold;
  font-size: 1.4em;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navContent {
  margin: .5em 1em;
  background-color: rgba(255, 255, 255, 0.345);
  border-radius: 35px;
  padding: .5em 1em;
}

.navContent:hover {
  background-color: rgba(0, 0, 0, 0.123);
  cursor: pointer;
}
.nextForcast {
  background-color: rgba(255, 255, 255, 0.732);
  border-radius: 15px;
}

